<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Declare camera feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StructureScan"
        android:screenOrientation="portrait">

        <!-- Assessment Activities -->
        <activity
            android:name=".AssessmentDetailsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AssessmentResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AnalyzedImageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AnalysisLoadingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- History and Building Info -->
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditBuildingInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BuildingInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Profile Activities -->
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ProfileChangePassword"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Authentication Activities -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.StructureScan" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmailForgotPassword"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EnterCodeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Main Launcher Activity -->
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dashboard and Scan Activities -->
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CaptureImagesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SavedPhotoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Onboarding Activities -->
        <activity
            android:name=".Onboarding1Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Onboarding2Activity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Onboarding3Activity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Other Activities -->
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- FileProvider for camera and PDF sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
